* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}

.nav {
	height: 50px;
	background-color: #333;
	text-align: center;
	font-size: 0;
}

.nav-item {
	display: inline-block;
}

.nav-item a {
	padding: 0 50px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	word-spacing: 2px;
	line-height: 50px;
	transition: color 0.3s;
}

.nav-item a:hover {
	color: #0086f3;
}
